.about {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  background: url(../../public/imgs/pattern.png) no-repeat center center/cover;

  &__img-box {
    width: 50%;
    cursor: pointer;
    img {
      width: 100%;
    }
  }

  &__text {
    width: 50%;
    text-align: center;
    font-size: 2rem;
    color: $grey-clr;
  }
}
