.program {
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  &__card {
    width: 80%;
    display: flex;
    gap: 3rem;
    box-shadow: 0 1.5rem 4rem rgba($dark-clr, 0.15);
    border-radius: 2.5rem;
    padding: 4rem;
    transition: all 0.3s;

    &:first-child {
      animation: slideIn 1s ease-in-out;
    }

    &:nth-child(2) {
      animation: slideOut 1s ease-in-out 0.2s;
    }

    &__img {
      img {
        font-size: 20rem;
      }
    }

    &__description {
      text-align: justify;
      font-size: 2rem;
      line-height: 2;
      color: $grey-clr;
    }

    @media screen and (max-width: 1000px) {
      width: 100%;
    }

    @media screen and (max-width: 800px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1rem;
      padding: 2rem;
    }
  }
}
