.nav {
  &__list {
    list-style: none;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 4rem;
    font-size: 2rem;
  }

  .logo {
    width: 10rem;
    height: 10rem;
  }

  &__item {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: $dark-clr;

    &:is(:hover, :focus, :active) {
      border-bottom: 2px solid $sandy-clr;
    }
  }
}

.menu-nav {
  &__list {
    list-style: none;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    font-size: 2rem;
  }

  .logo {
    width: 10rem;
    height: 10rem;
  }

  .menu-icon {
    cursor: pointer;
    &__line {
      width: 30px;
      height: 3px;
      background-color: $sandy-clr;
      display: block;
      margin: 0.5rem;
      transition: all 0.3s ease-in-out;
    }
  }
}
