.social {
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: $green-clr;
  width: 50vw;
  padding: 1rem 8rem;
  display: flex;
  justify-content: flex-start;
  gap: 4rem;

  -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);

  animation: slideIn 1s ease-in-out;

  &__item {
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}
